@using System.Text.Json.Nodes
@using Aion.Components.Infrastructure.MessageBus
@using Aion.Components.Querying.Commands
@using Aion.Components.RequestContextPanel
@using Aion.Components.RequestContextPanel.Commands
@using Aion.Components.Shared
@using Aion.Components.Theme
@using Aion.Core.Queries
@using Blazor.Diagrams;
@using Blazor.Diagrams.Core.PathGenerators
@using Blazor.Diagrams.Core.Routers
@using Blazor.Diagrams.Options
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Anchors
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@implements IDisposable

@if (State?.Active?.Result != null)
{
    QueryResult queryResult = State.Active.Result;
    <MudStack Class="pa-4 h-100 w-100">
        <MudStack Row="true" Class="w-100" AlignItems="AlignItems.Center">
            <MudTabs Class="py-2 px-1" MinimumTabWidth="140px" >
                <MudTabPanel Text="Results" OnClick="() => _activeTab = Results" />
                <MudTabPanel Text="Messages" OnClick="() => _activeTab = Messages" />
                @if (State.Active.EstimatedPlan != null)
                {
                    <MudTabPanel Text="Estimated Plan" OnClick="OpenEstimatedQueryPlan" />
                    
                }
                @if (State.Active.ActualPlan != null)
                {
                    <MudTabPanel Text="Actual Plan" OnClick="() => _activeTab = ActualPlan" />
                }
            </MudTabs>
            <MudSpacer />
            <AionIconButton Icon="@AionIcons.Json" Tooltip="Export to Json" OnClick="async () => await Bus.PublishAsync(new ExportResultsToJson(queryResult))"/>
            <AionIconButton Icon="@AionIcons.Csv" Tooltip="Export to Csv" OnClick="async () => await Bus.PublishAsync(new ExportResultsToCsv(queryResult))"/>
            <AionIconButton Icon="@AionIcons.Spreadsheet" Tooltip="Export to Excel" OnClick="async () => await Bus.PublishAsync(new ExportResultsToExcel(queryResult))"/>
        </MudStack>
        @if (_activeTab == Results)
        {
            <MudStack Class="h-100 w-100 overflow-auto flex-shrink-1">
                <MudDataGrid T="Dictionary<string, object>"
                             Items="@State.Active.Result.Rows"
                             Dense="true"
                             Hover="true"
                             Filterable="true"
                             ColumnResizeMode="ResizeMode.Container">
                    <Columns>
                        @foreach (var col in State.Active.Result.Columns)
                        {
                            <TemplateColumn T="Dictionary<string, object>" Title="@col" Resizable="true">
                                <CellTemplate>
                                    @{
                                        var value = context.Item.GetValueOrDefault(col);
                                    }
                                    @if (value != null && value.ToString().StartsWith('{') && value.ToString().EndsWith('}'))
                                    {
                                        <MudLink Class=" overflow-x-auto d-flex" OnClick="@(async () => await OpenJsonDetailView(State.Active.Name, col, value.ToString()))">@value</MudLink>
                                    }
                                    else
                                    {
                                        <MudText Class=" overflow-x-auto d-flex">@value</MudText>
                                    }
                                </CellTemplate>
                            </TemplateColumn>
                        }
                    </Columns>
                </MudDataGrid>
            </MudStack>
        }
        else if (_activeTab == Messages)
        {
            <MudText>@State.Active.Result.Error</MudText>
        }
        else if (_activeTab == EstimatedPlan)
        {
            @State.Active.EstimatedPlan.PlanContent
        <div class="diagram-container">
            <CascadingValue Value="@Diagram" IsFixed="true">
                <DiagramCanvas></DiagramCanvas>
            </CascadingValue>
        </div>
        }
        else if (_activeTab == ActualPlan)
        {
            @State.Active.ActualPlan.PlanContent
        }
        <MudText Typo="Typo.caption" Class="mud-text-secondary ml-4">@(State?.Active?.Result?.RowCount ?? 0) Results</MudText>
    </MudStack>
}

@code {
    [Inject] protected QueryState State { get; set; } = default!;

    [Inject] protected IMessageBus Bus { get; set; } = default!;

    private BlazorDiagram Diagram { get; set; } = default!;

    private BlazorDiagramOptions _diagramOptions = new()
    {
        AllowMultiSelection = true,
        Zoom =
        {
            Enabled = false,
        },
        Links =
        {
            DefaultRouter = new NormalRouter(),
            DefaultPathGenerator = new SmoothPathGenerator()
        },
    };

    private void OpenEstimatedQueryPlan()
    {
        _activeTab = EstimatedPlan;
        Diagram = new(_diagramOptions);
        int x = 50;
        int y = 50;
        bool parent = true;
        foreach (var node in State.Active.EstimatedPlan.PlanContent.Split("->"))
        {
            var n = Diagram.Nodes.Add(new NodeModel(position: new Point(x, y))
            {
                Title = node
            });

            var p = n.AddPort(PortAlignment.Right);

            if (!parent)
            {
                var destinationLeftPort = n.AddPort(PortAlignment.Left);
                var source = Diagram.Nodes.ElementAtOrDefault(Diagram.Nodes.Count - 2);
                var sourcePort = source.GetPort(PortAlignment.Right);
                var sourceAnchor = new SinglePortAnchor(sourcePort);
                var targetAnchor = new SinglePortAnchor(destinationLeftPort);
                var link = Diagram.Links.Add(new LinkModel(sourceAnchor, targetAnchor));
            }

            parent = false;
            x += 400;
            y += 50;
        }

        Diagram.Refresh();
    }

    private const string Results = "results";
    private string Messages => "messages";
    private string EstimatedPlan => "estimated";
    private string ActualPlan => "actual";

    private string _activeTab = Results;

    protected override void OnInitialized()
    {
        State.StateChanged += StateHasChanged;
        Diagram = new(_diagramOptions);
        base.OnInitialized();
    }

    public void Dispose()
    {
        State.StateChanged -= StateHasChanged;
    }

    protected async Task OpenJsonDetailView(string queryName, string column, string json)
    {
        await Bus.PublishAsync(new OpenJsonDetailView(new QueryResponseJsonDetail(queryName, column, json)));
    }

}